@font-face {
	font-family: 'Major Mono Display';
	font-style: normal;
	font-weight: 400;
	src: local('Major Mono Display Regular'), local('MajorMonoDisplay-Regular'),
		url(https://fonts.gstatic.com/s/majormonodisplay/v1/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRh7DXeR.woff2)
			format('woff2');
}
body {
	height: 100vh;
	overflow: hidden;
	font-family: 'Major Mono Display', monospace;
	background: linear-gradient(160deg, #3824b6, #d371df);
	transform: rotate(-10deg);
	color: #f7f7f7;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
	position: relative;
	cursor: pointer;
}
* {
	margin: 0;
}
.game-active {
	cursor: default;
}
.game {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 1s ease-in-out 1s;
}
.game-active .game {
	opacity: 1;
	visibility: visible;
}
.game__exp {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: rotate(10deg) translate(-50%);
	opacity: 1;
	visibility: visible;
	transition: all 1s ease-in-out;
}
.game-active .game__exp {
	visibility: hidden;
	opacity: 0;
}
.game__title {
	font-size: 10vw;
}
.game__subtitle {
	font-size: 3vw;
}
.game__board {
	width: 30vw;
	height: 30vw;
	border: 5px solid rgba(255, 255, 255, 0.7);
	border-spacing: 0;
	margin-bottom: 3vh;
}
.game__board__row {
	text-align: center;
	font-size: 2.8vw;
	background: #8e53ce;
}
.game__board__row td {
	cursor: pointer;
	width: 3vw;
	height: 3vw;
	transition: background 150ms ease-in-out;
}
.game__board__row td:hover {
	background: #a96aed;
}
.game__board__row.first-row td:first-child,
.game__board__row.third-row td:first-child,
.game__board__row.second-row td:nth-child(2),
.game__board__row.first-row td:last-child,
.game__board__row.third-row td:last-child {
	background: #7940c7;
}
.game__board__row.first-row td:first-child:hover,
.game__board__row.third-row td:first-child:hover,
.game__board__row.second-row td:nth-child(2):hover,
.game__board__row.first-row td:last-child:hover,
.game__board__row.third-row td:last-child:hover {
	background: #6737a8;
}
.game__scores {
	display: flex;
	flex-direction: column;
}
.game__scores__player {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 3vw;
}
.game__announce {
	position: absolute;
	top: 20%;
	left: 50%;
	font-size: 7vw;
	text-align: center;
	transform: translate(-50%, 90px) rotate(10deg);
	opacity: 0;
	visibility: hidden;
}
.game__announce.active {
	animation: slideUp 1.5s ease-in-out forwards;
}
.game__announce span {
	font-size: 20vw;
}
@keyframes slideUp {
	0%,
	100% {
		transform: translate(-50%, 90px) rotate(10deg);
		opacity: 0;
		visibility: hidden;
	}
	30%,
	60% {
		transform: translate(-50%, 0) rotate(10deg);
		opacity: 1;
		visibility: visible;
	}
}
